body {
    margin: 20px;
    padding: 0;
    background-color: #FFF9F5;
    color: #36454F;
    font-family: Arial, sans-serif;
  }
  
  button {
    background-color: #00BFFF;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
  
  div {
    width: 400px;
    margin: auto;
  }