body {
    background-color: #3E416D;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
   }
   
   #terms {
    background-color: whitesmoke;
    color: black;
    height: 150px;
    width: 700px;
    overflow: scroll;
    padding: 10px;
    border-radius: 8px;
   }