body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
  }
  
  main,
  nav {
    margin: 2px auto;
  }
  
  .wrapper {
    background-color: #4D4D87;
    height: 900px;
  }
  
  .nav_items_container {
    background-color: #4D4D87;
    display: flex;
    list-style-type: none;
    justify-content: center;
    
  }
  
  .products_container {
    padding: 4em;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .product_card {
    width: 40%;
    padding: 10px;
    margin: 1em;
    height: 100px;
    color: #000;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    
  }
  
  .product_card__details {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product_card__addToCart {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .product_card__addToCart__btn {
    cursor: pointer;
    color: #FFF;
    margin-top: 1em;
    background-color: #4D4D87;
    border-radius: 5px;
  }
  
  .nav_items_container__item{
    margin: 1em;
  }