body {
    margin-top: 20px;
    color: #1A202C;
    text-align: left;
    background-color: #E2E8F0;
  }
  
  .main-body {
    padding: 15px;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }