@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

div {
  background-color: honeydew;
  padding: 10px;
}

input {
  border: 3px solid lawngreen;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
}

#result {
  background-color: lawngreen;
  padding: 10px;
}